# Overview

This Jupyter Notebook generates an `n.json` file for each line `n`'s list of stops.  These files are used by the MyBus tool to populate the stops dropdowns on the landing page.

This version is made specifically for the September 2021 shakeup.

In [110]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import re

In [111]:
LINES_PATH = '../data/lines.json'
OUTPUT_PATH = '../data/'
SCRATCH_PATH = 'scratch/'

In [112]:
lines = pd.read_json(LINES_PATH)
lines_array = lines.loc[:, 'route_short_name'].values

In [113]:
with ZipFile('../data/input/stops.zip', 'r') as zf:
    zf.extractall(SCRATCH_PATH)

with ZipFile('../data/input/stop_times.zip', 'r') as zf:
    zf.extractall(SCRATCH_PATH)

STOPS_PATH = 'scratch/stops.txt'
STOP_TIMES_PATH = 'scratch/stop_times.txt'

In [114]:
stops = pd.read_csv(STOPS_PATH,
    usecols=['stop_id','stop_name'],
    dtype={'stop_id':'string','stop_name':'string'})
#stops.head(5)

In [115]:
#scratch code to look up stop ids and stop names
#stops[stops.stop_id.str.contains('1177')]

In [116]:
stop_times = pd.read_csv(STOP_TIMES_PATH,
    usecols=['stop_id','stop_headsign','pickup_type','drop_off_type'],
    dtype={'stop_id':'string','stop_headsign':'string'})
#stop_times.head(5)

## Remove Stops from Non-Revenue Trips

Indicated by `pickup_type` and `drop_off_type`

Not sure if we should include stops where only one of the values is `1`.  When both values are `0`, those are revenue trips for sure.

This will take care of an issue we had in the June 2021 iteration of MyBus where terminals and layovers were showing up in the stop lists.

In [117]:
# Remove stops from non-revenue trips, as indicated by
# pickup_type == 1 and drop_off_type == 1
stop_times = stop_times[(stop_times.pickup_type == 0) | (stop_times.drop_off_type == 0)]
#stop_times

## Modify Stop Name

Service planners indicated `stop_id` 12422 should have a stop name of `State / Cesar E Chavez`.  Reference GitHub [issue #44](https://github.com/LACMTA/mybus/issues/44).

In [118]:
stops.loc[stops.stop_id == '12422', 'stop_name'] = 'State / Cesar E Chavez'

#stops[stops.stop_id == '12422']

## Combine Lines & Stops Data

Merge `stop_times` and `stops` using a LEFT JOIN on `stop_id`.  For each stop on a line, this will show that stop's name.

Use the `lines_and_stops` dataframe to generate a file for each line that lists all unique stops for that line.

In [119]:
lines_and_stops = pd.merge(stop_times, stops, how="left", on="stop_id")
lines_and_stops.head(5)

,stop_id,stop_headsign,pickup_type,drop_off_type,stop_name
0,20500001,577 - El Monte Station,0,0,7th / Channel
1,20500006,577 - El Monte Station,0,0,Cal State Long Beach
2,30016,577 - El Monte Station,0,0,Norwalk Station
3,17035,577 - El Monte Station,0,0,Workman Mill / College
4,30020,577 - El Monte Station,0,0,El Monte Station - Lower Level

In [120]:
# Zero stop locations that include "Terminal" in the name after filtering for pickup_type AND drop_off_type equal to 0.
#lines_and_stops[lines_and_stops.stop_name.str.contains('Terminal')]

# With pickup_type OR drop_off_type equal to 0, there are cases where a stop may have 1 for one of the values
# (this indicates drop-off or pick-up only). None of these stops indicate Terminals or Divisions.
# So they should be good to include in the dropdowns.
#lines_and_stops[lines_and_stops.drop_off_type == 1].stop_name.unique()
#lines_and_stops[lines_and_stops.pickup_type == 1].stop_name.unique()

# Clean up lines_and_stops to remove the extra columns
# that aren't needed from this point forward.
lines_and_stops = lines_and_stops[['stop_id','stop_headsign','stop_name']].copy()
lines_and_stops

          stop_id               stop_headsign                       stop_name
0        20500001      577 - El Monte Station                   7th / Channel
1        20500006      577 - El Monte Station            Cal State Long Beach
2           30016      577 - El Monte Station                 Norwalk Station
3           17035      577 - El Monte Station          Workman Mill / College
4           30020      577 - El Monte Station  El Monte Station - Lower Level
...           ...                         ...                             ...
2030269      2319  Hawthorne / Lennox Station      Hawthorne / Lennox Station
2030270     30022  Hawthorne / Lennox Station     Sofi Stadium Transit Center
2030271      2319  Hawthorne / Lennox Station      Hawthorne / Lennox Station
2030272     30022  Hawthorne / Lennox Station     Sofi Stadium Transit Center
2030273      2319  Hawthorne / Lennox Station      Hawthorne / Lennox Station

[2030274 rows x 3 columns]

## Extract the Line/Route Number Into a Separate Column

Most cases we can use the number that appears in the headsign.

For lines that have routes (e.g. Line 10 has routes 10 & 48), the stop at which they switch over will only contain one route number but should be included as a stop for both routes.

Example:
`Change to Route 215 - Redondo Beach Station` is a `stop_headsign` value and it should appear for both the 211 and the 215.


```
[          'Change to Route 215 - Redondo Beach Station',
              'Change to Route 211 - South Bay Galleria',
                   'Change to Route 10 - West Hollywood',
                   'Change to Route 10 - Melrose - Vine',
                   'Change to Route 48 - Avalon Station',
           'Change to Route 48 - San Pedro - Manchester',
 'Change to Route 35 - Washington / Fairfax Transit Hub',
 'Change to Route 38 - Washington / Fairfax Transit Hub',
                   'Change to Route 14 - Beverly Center',
 'Change to Route 37 - Washington / Fairfax Transit Hub',
                'Change to Route 14 - Beverly - Western',
        '854 - L - Gold Line Shtl Pico / Aliso Little T',
        '854 - L - Gold Line Shtl Union Via Little Toky',
                                     '489 - Temple City',
                     '489 - Downtown LA - 5th - Beaudry',
        'Change to Route 242 - Porter Ranch Town Center',
        'Change to Route 243 - Porter Ranch Town Center',
                                          '235 - Encino',
                                  '235 - Sylmar Station',
                                'Dodger Stadium Express',
                                'Harbor Gateway Express',
                                 'Union Station Express',
                                          'SoFi Stadium',
                            'Hawthorne / Lennox Station']
```

In [121]:
sister_routes = {
	211:215,
	215:211,
	10:48,
	48:10,
	35:38,
	38:35,
	14:37,
	37:14,
	487:489,
	489:487,
	242:243,
	243:242,
	235:236,
	236:235
}

In [122]:
lines_and_stops['line'] = np.nan
counter = 1

# line values in lines_array can be more than just numbers,
# e.g. the 901, 910, and 950.
for line in lines_array:

    # Account for line being:
    # 901 / G Line (Orange)
    # 910 / J Line (Silver)
    # 950 / J Line (Silver)
    search_obj = re.match(r'\d+', line)
    line_num_only = ''

    if search_obj:
        line_num_only = search_obj.group()
    else:
        line_num_only = line

    print('Line ' + line_num_only)
    
    # Create regex using the line number.
    # If a matching line number is at the beginning of the headsign, that is the line number for that stop
    # Else if a matching line number exists later in the string (at least one character before the digits start),
    #     the sister route is the line number for that stop
    # Else, it is either not included in the lines_array or it is a temporary express bus with no number associated.
    line_first_regex = '^' + str(line_num_only) + '\s-\s'
    line_later_regex = '^\D+\s' + str(line_num_only)

    line_first_list = lines_and_stops.stop_headsign.str.contains(line_first_regex)
    line_later_list = lines_and_stops.stop_headsign.str.contains(line_later_regex)

    lines_and_stops.loc[line_first_list, 'line'] = line_num_only
    for h in lines_and_stops.loc[line_first_list, 'stop_headsign'].unique():
        print('    ' + h)

    if int(line_num_only) in sister_routes.keys():
        lines_and_stops.loc[lines_and_stops.stop_headsign.str.contains(line_later_regex), 'line'] = sister_routes[int(line_num_only)]
        
        print('    ' + '********** Extras: **********')
        for h in lines_and_stops.loc[line_later_list, 'stop_headsign'].unique():
            print('    ' + h)

    if counter % 10 == 0:
        print('**********' + str(counter) + ' lines processed **********')

    counter += 1

lines_and_stops.head()

Line 2
    2 - Sunset - Alvarado
    2 - Westwood / UCLA
    2 - Downtown LA - 7th - Broadway
    2 - West Hollywood - Sunset - San Vicente
    2 - Downtown LA - Broadway - Venice
    2 - Vermont / Sunset Sta
Line 4
    4 - Downtown LA - Broadway - Venice
    4 - Santa Monica
    4 - West LA - Sepulveda Bl
Line 10
    10 - Avalon Station
    10 - Downtown LA - Main - Venice
    10 - West Hollywood
    10 - San Pedro - Manchester
    10 - Downtown LA - 7th - Hill
    ********** Extras: **********
    Change to Route 10 - West Hollywood
    Change to Route 10 - Melrose - Vine
Line 14
    14 - Washington / Fairfax Transit Hub
    ********** Extras: **********
    Change to Route 14 - Beverly Center
    Change to Route 14 - Beverly - Western
Line 16
    16 - West Hollywood
    16 - Downtown LA - 6th - Los Angeles
Line 18
    18 - Montebello Station
    18 - Wilshire / Western Station
    18 - Downtown LA
    18 - Whittier - Garfield
    18 - Wilshire / Vermont Sta
    18 - Commerce Center
Line 20
    20 - Downtown LA - 6th - Main
    20 - Santa Monica
    20 - Westwood
Line 28
    28 - Cesar Chavez & Vignes
    28 - Century City
    28 - San Vicente - Fairfax
Line 30
    30 - Pico - Rimpau
    30 - Downtown LA - Union Sta
    30 - Indiana Station
Line 33
    33 - Downtown LA - 7th - Main
    33 - Downtown LA - Union Sta
    33 - Santa Monica
    33 - Venice
**********10 lines processed **********
Line 35
    35 - Downtown LA - 7th - Maple
    35 - Washington / Fairfax Transit Hub
    35 - Downtown LA - Broadway - Venice
    ********** Extras: **********
    Change to Route 35 - Washington / Fairfax Transit Hub
Line 37
    37 - Beverly Center
    37 - Beverly - Western
    ********** Extras: **********
    Change to Route 37 - Washington / Fairfax Transit Hub
Line 38
    38 - Downtown LA - Broadway - Venice
    38 - Downtown LA - Spring - 7th
    38 - Washington / Fairfax Transit Hub
    38 - Jefferson - 10th
    ********** Extras: **********
    Change to Route 38 - Washington / Fairfax Transit Hub
Line 40
    40 - Downtown LA - Union Sta
    40 - Downtown LA - 7th - Broadway
    40 - South Bay Galleria
    40 - LAX City Bus Ctr
Line 45
    45 - Harbor Fwy Station
    45 - Lincoln Heights
    45 - Downtown LA - 7th - Broadway
Line 48
    48 - West Hollywood
    48 - Melrose - Vine
    ********** Extras: **********
    Change to Route 48 - Avalon Station
    Change to Route 48 - San Pedro - Manchester
Line 51
    51 - Cal State Dominguez Hls
    51 - Wilshire / Vermont Sta
    51 - Avalon Station
    51 - Avalon - Florence
    51 - Downtown LA - 7th - Broadway
Line 53
    53 - Downtown LA
    53 - Cal State Dominguez Hls
    53 - Avalon Station
    53 - Downtown LA - 6th - Broadway
Line 55
    55 - Downtown LA - Sunset -  Figueroa
    55 - Downtown LA - Spring - 7th
    55 - Willowbrook / Rosa Parks Station
Line 60
    60 - Downtown LA - Sunset -  Figueroa
    60 - Artesia Station
    60 - Long Beach Bl - Green Line Station
    60 - Downtown Long Beach
**********20 lines processed **********
Line 62
    62 - Downtown LA
    62 - Hawaiian Gardens - 226 - Norwalk
    62 - Hawaiian Gardens - Civic Ctr - Ibex
    62 - Los Cerritos Center
Line 66
    66 - Montebello Station
    66 - Wilshire / Western Station
    66 - 8th - Western
    66 - Commerce Center
Line 70
    70 - El Monte Station
    70 - Downtown LA - Broadway - Venice
Line 76
    76 - El Monte Station
    76 - Downtown LA - Grand - Venice
Line 78
    78 - Las Tunas - Live Oak
    78 - Downtown LA - Grand - 7th
    78 - Downtown LA - Grand - Venice
Line 79
    79 - Arcadia Methodist Hosp
    79 - Arcadia Gold Line Station
    79 - Huntington - Maycrest
    79 - Downtown LA - Grand - 7th
    79 - Downtown LA - Grand - Venice
Line 81
    81 - Harbor Fwy Station
    81 - Downtown LA - Main - Venice
    81 - Eagle Rock Plaza
    81 - Figueroa - La Loma
Line 90
    90 - N. Hollywood Station
    90 - Downtown LA
    90 - Glendale - San Fernando
Line 92
    92 - Sylmar Station
    92 - Burbank Station
    92 - Burbank
    92 - Downtown LA - Main - Olympic
    92 - Downtown LA - Spring - 7th
Line 94
    94 - N. Hollywood Station
    94 - Downtown LA - Hill - Venice
**********30 lines processed **********
Line 96
    96 - Burbank Station
    96 - Cesar Chavez & Main
Line 102
    102 - LAX City Bus Ctr
    102 - Huntington Park - Palm - Seville
    102 - Jefferson / USC  Station
    102 - Stocker - Crenshaw
Line 105
    105 - Vernon - Santa Fe
    105 - West Hollywood
    105 - M.L. King - Crenshaw
Line 106
    106 - East LA College
    106 - The Shops At Montebello
    106 - Garvey & Atlantic
Line 108
    108 - Slauson - Paramount
    108 - Slauson - Eastern
    108 - Culver City Transit Ctr
    108 - Marina Del Rey
Line 110
    110 - Bell Gardens
    110 - Culver City Transit Ctr
Line 111
    111 - Norwalk Green Line Sta
    111 - Florence - Garfield
    111 - Florence - Pacific
    111 - Florence - Crenshaw
    111 - Inglewood Transit Ctr
    111 - LAX City Bus Ctr
Line 115
    115 - Manchester - Sepulveda
    115 - Norwalk Green Line Sta
    115 - Stonewood Center
    115 - Playa Del Rey
Line 117
    117 - Lakewood Bl Station
    117 - LAX City Bus Ctr
Line 120
    120 - Whittwood Town Center
    120 - Norwalk Green Line Sta
    120 - Aviation / LAX Station
**********40 lines processed **********
Line 125
    125 - Norwalk Green Line Sta
    125 - El Segundo
Line 127
    127 - Downey Depot
    127 - Compton Station
    127 - Harbor Fwy Station
Line 128
    128 - Compton Station
    128 - Cerritos Town Center
Line 130
    130 - Artesia Station
    130 - Los Cerritos Center
Line 150
    150 - Encino
    150 - Chatsworth Station
    150 - Tarzana
    150 - Canoga Station
    150 - Nordhoff - Topanga Cyn
Line 152
    152 - Roscoe - Topanga Cyn
    152 - N. Hollywood Station
Line 154
    154 - Sepulveda Station
    154 - Burbank Station
Line 155
    155 - N. Hollywood Station
    155 - Burbank Station
Line 158
    158 - Chatsworth Station
    158 - Sherman Oaks
Line 161
    161 - Thousand Oaks Transit Ctr
    161 - Westlake Village
    161 - Canoga Station
**********50 lines processed **********
Line 162
    162 - N. Hollywood Station
    162 - Woodland Hills
    162 - West Hills Medical Ctr
Line 164
    164 - West Hills
    164 - Burbank Station
Line 165
    165 - Burbank Station
    165 - West Hills
    165 - Vanowen - Topanga Cyn
Line 166
    166 - Sun Valley
    166 - Nordhoff - Canoga
    166 - Osborne - Glenoaks
Line 167
    167 - Coldwater Cyn - Ventura
    167 - Chatsworth Station
Line 169
    169 - Hollywood Burbank Airport
    169 - Canoga Station
    169 - West Hills Medical Ctr
Line 177
    177 - Jet Prop Lab
    177 - Cal Tech
Line 180
    180 - Pasadena City College
    180 - Colorado - Lake
    180 - Hollywood / Vine Sta
Line 182
    182 - Huntington - Monterey
    182 - Vermont / Sunset Sta
Line 200
    200 - Echo Park
    200 - Expo Park / USC
**********60 lines processed **********
Line 202
    202 - Del Amo Station
    202 - Willowbrook / Rosa Parks Station
Line 204
    204 - Vermont / Sunset Sta
    204 - Vermont / Athens Sta
Line 205
    205 - Willowbrook / Rosa Parks Station
    205 - San Pedro  - 13th - Gaffey
    205 - PCH  - Vermont
Line 206
    206 - Vermont / Athens Sta
    206 - Vermont - Hollywood
Line 207
    207 - Hollywood
    207 - Western - Imperial Hwy
    207 - Crenshaw Green Line Sta
Line 209
    209 - Expo / Crenshaw Sta
    209 - Crenshaw - Rosecrans
Line 210
    210 - Hollywood / Vine Sta
    210 - South Bay Galleria
    210 - Wilshire / Western Station
Line 211
    211 - Inglewood
    ********** Extras: **********
    Change to Route 211 - South Bay Galleria
Line 212
    212 - Hollywood / Vine Sta
    212 - Inglewood
    212 - Hollywood / Highland Sta
    212 - Hawthorne / Lennox Sta
Line 215
    215 - Inglewood
    ********** Extras: **********
    Change to Route 215 - Redondo Beach Station
**********70 lines processed **********
Line 217
    217 - La Cienega / Jefferson Sta
    217 - Vermont / Sunset Sta
    217 - Washington / Fairfax Transit Hub
Line 218
    218 - Cedars - Sinai Medical Ctr
    218 - Studio City
Line 222
    222 - Universal / Studio City Sta
    222 - Hollywood / Vine Sta
    222 - Hollywood Burbank Airport
Line 224
    224 - Universal / Studio City Sta
    224 - Sylmar Station
Line 230
    230 - Studio City
    230 - Sylmar - Mission Coll
    230 - Sylmar Station
Line 232
    232 - LAX City Bus Ctr
    232 - Downtown Long Beach
Line 233
    233 - Lake View Terrace
    233 - Pacoima
    233 - Foothill - Terra Bella
    233 - Sherman Oaks
    233 - Sepulveda E Line (Expo) Station
Line 234
    234 - Sylmar - Mission Coll
    234 - Sherman Oaks Galleria
    234 - Sylmar Station
Line 235
    235 - Encino
    235 - Sylmar Station
    ********** Extras: **********
Line 236
    236 - Sylmar Station
    236 - Encino
    ********** Extras: **********
**********80 lines processed **********
Line 237
    237 - N. Hollywood Station
    237 - Encino
Line 240
    240 - Northridge
    240 - Universal / Studio City Sta
Line 242
    242 - Woodland Hills
    ********** Extras: **********
    Change to Route 242 - Porter Ranch Town Center
Line 243
    243 - Woodland Hills
    ********** Extras: **********
    Change to Route 243 - Porter Ranch Town Center
Line 244
    244 - Chatsworth Station
    244 - Woodland Hills
Line 246
    246 - Harbor Gateway Transit Ctr
    246 - San Pedro - Pacific - 21st
    246 - San Pedro - Pt. Fermin
Line 251
    251 - Long Beach Bl - Green Line Station
    251 - Avenue 26 - Figueroa
    251 - Eagle Rock Plaza Via Downtown LA
    251 - Huntington Park - Palm - Seville
Line 256
    256 - Sierra Madre Villa Station
    256 - Eastern - Union Pacific
    256 - Memorial Pk Station
    256 - Fair Oaks - Colorado
Line 258
    258 - Figueroa - York
    258 - Paramount
    258 - Cal State LA
Line 260
    260 - South Pasadena
    260 - Fair Oaks - Colorado
    260 - Altadena
    260 - Artesia Station
    260 - M.L. King - Atlantic
**********90 lines processed **********
Line 265
    265 - Pico Rivera
    265 - Lakewood Center
Line 266
    266 - Sierra Madre Villa Station
    266 - Lakewood Center
Line 267
    267 - El Monte Station
    267 - Del Mar Station
Line 268
    268 - El Monte Station
    268 - Sierra Madre Villa Station
Line 287
    287 - El Monte Station
    287 - Arcadia Gold Line Station
    287 - The Shops At Montebello
Line 294
    294 - Sylmar Station
    294 - Burbank Station
Line 344
    344 - Rancho Palos Verdes
    344 - Harbor Gateway Transit Ctr
Line 460
    460 - Downtown LA - 6th - Los Angeles
    460 - Disneyland
Line 487
    487 - Sierra Madre Villa Station
    487 - Downtown LA - Union Sta
    487 - Downtown LA - 5th - Beaudry
    ********** Extras: **********
Line 489
    489 - Temple City
    489 - Downtown LA - 5th - Beaudry
    ********** Extras: **********
**********100 lines processed **********
Line 501
    501 - Pasadena - Via 134 Fwy - Metro Gold Line
    501 - N. Hllywd -  Via 134 Fwy - Red - Orange
Line 534
    534 - Downtown Santa Monica - E Line (Expo) St
    534 - Malibu - PCH - Trancas
Line 550
    550 - Harbor Gateway Transit Ctr
    550 - San Pedro - 7th - Patton
Line 577
    577 - El Monte Station
    577 - Cal State LB / VA Medical Ctr
Line 601
    601 - Warner Center Shuttle
Line 602
    602 - Sunset - Church
    602 - Westwood / UCLA
    602 - Sunset - PCH
Line 603
    603 - Glendale Galleria
    603 - Grand Sta / LA Trade Tech
Line 605
    605 - Olympic - Grande Vista
    605 - LAC + USC  Medical Ctr Outpatient Clinic
Line 611
    611 - Vernon Station
    611 - Vernon - Huntington Park - Cudahy
    611 - Cudahy
    611 - Huntington Park - Vernon - Cudahy
Line 617
    617 - Beverly - Pico
    617 - Culver City Station
**********110 lines processed **********
Line 622
    622 - Hollywood Burbank Airport
    622 - Sun Valley
Line 656
    656 - Hollywood
    656 - Panorama City
Line 662
    662 - Counter - Clockwise
    662 - Clockwise
Line 665
    665 - Cal State LA
    665 - Indiana - Olympic
Line 686
    686 - New York - Allen
    686 - Del Mar Station
Line 690
    690 - Sunland
    690 - Sylmar Station
Line 704
    704 - Downtown LA - Union Sta
    704 - Santa Monica
Line 720
    720 - Metro Rapid - Westwood
    720 - Metro Rapid - Santa Monica
    720 - Metro Rapid - Downtown LA - 6th - Centra
    720 - Metro Rapid - Downtown LA - 6th - Main
Line 733
    733 - Santa Monica
    733 - Downtown LA - Union Sta
Line 754
    754 - Vermont / Sunset Sta
    754 - Vermont / Athens Sta
**********120 lines processed **********
Line 761
    761 - Sepulveda E Line (Expo) Station
    761 - Sylmar Station
Line 854
    854 - L - Gold Line Shtl Pico / Aliso Little T
    854 - L - Gold Line Shtl Union Via Little Toky
Line 901
    901 - Orange Line - North Hollywood Station
    901 - Orange Line - Chatsworth Station
    901 - Orange Line
Line 910
    910 - Silver Line - El Monte Sta Via Downtown
    910 - Silver Ln - Harbor Gateway Tc Via Dwntwn
Line 950
    950 - Silver Line - El Monte Sta Via Downtown
    950 - Silver Line - San Pedro Via Downtown LA

    stop_id           stop_headsign                       stop_name line
0  20500001  577 - El Monte Station                   7th / Channel  577
1  20500006  577 - El Monte Station            Cal State Long Beach  577
2     30016  577 - El Monte Station                 Norwalk Station  577
3     17035  577 - El Monte Station          Workman Mill / College  577
4     30020  577 - El Monte Station  El Monte Station - Lower Level  577

In [123]:
lines_and_stops[lines_and_stops.line.isnull()].stop_headsign.unique()

#lines_and_stops[lines_and_stops.stop_headsign.str.contains('235')].head()

<StringArray>
[    'Dodger Stadium Express',     'Harbor Gateway Express',
      'Union Station Express',               'SoFi Stadium',
 'Hawthorne / Lennox Station']
Length: 5, dtype: string

In [124]:
# Drop the rows that have no Line value.
# These should already be validated to be the temporary Express lines (Dodger Stadium, SoFi Stadium)
lines_and_stops.replace('', float("NaN"), inplace=True)
lines_and_stops.dropna(subset = ['line'], inplace=True)
lines_and_stops.line = lines_and_stops.line.astype('int')

# correctly prints nothing:
#lines_and_stops[lines_and_stops.line.isnull()].stop_headsign.unique()

## Add Stops for Restored Service

Lines 110 and 550 have restored service.  The stops do not exist in the June 2021 GTFS data.  Reference GitHub [issue #62](https://github.com/LACMTA/mybus/issues/62).

In [133]:
restored_stops = pd.read_csv('../data/input/restored_stops.csv',
	usecols={'line', 'stop_id','stop_name'},
	dtype={'line':'int','stop_id':'string','stop_name':'string'})

lines_and_stops = pd.concat([lines_and_stops, restored_stops])

lines_and_stops

,stop_id,stop_headsign,stop_name,line
0,20500001,577 - El Monte Station,7th / Channel,577
1,20500006,577 - El Monte Station,Cal State Long Beach,577
2,30016,577 - El Monte Station,Norwalk Station,577
3,17035,577 - El Monte Station,Workman Mill / College,577
4,30020,577 - El Monte Station,El Monte Station - Lower Level,577
...,...,...,...,...
41,15616,<NA>,39th St / Figueroa,550
42,10994,<NA>,Harbor Transit Way / Slauson,550
43,10853,<NA>,Harbor Transit Way / Manchester,550
44,2324,<NA>,Harbor Transit Way / I105 C Line (Green) Station,550
45,10846,<NA>,Harbor Transit Way / Rosecrans,550

In [134]:
grouped_stops = lines_and_stops.groupby(['line', 'stop_name'])

unique_grouped_stops = grouped_stops['stop_id'].unique()

unique_grouped_stops = unique_grouped_stops.reset_index()

unique_grouped_stops['stop_id_agg'] = ''

def aggregate_stop_id(row):
    count = 0
    result = ''
    for id in row.stop_id:
        if count > 0:
            result += '|'
        result += id
        count += 1
    return result

unique_grouped_stops.stop_id_agg = unique_grouped_stops.apply(aggregate_stop_id, axis=1)

aggregated_grouped_stops = unique_grouped_stops[['line','stop_name','stop_id_agg']].copy()

aggregated_grouped_stops

     line               stop_name stop_id_agg
0       2      Alvarado / Montana        3360
1       2       Alvarado / Sunset        3362
2       2         Broadway / 12th       15598
3       2          Broadway / 1st        4767
4       2          Broadway / 3rd       13227
...   ...                     ...         ...
9697  550     Jefferson / Vermont        7766
9698  550  McClintock / Jefferson        2457
9699  550       Vermont / 36th Pl  5656|14039
9700  550    Vermont / Exposition        5635
9701  550     Vermont / Jefferson      140951

[9702 rows x 3 columns]

In [136]:
count = 0

for line in lines_array:
    search_obj = re.match(r'\d+', line)
    line_num_only = ''

    if search_obj:
        line_num_only = search_obj.group()
    else:
        line_num_only = line
    
    line_filename = OUTPUT_PATH + 'line-stops/' + str(line_num_only) + '.json'

    # no de-dupping necessary because the data was already grouped by line + stop_name
    stop_by_line = aggregated_grouped_stops[aggregated_grouped_stops.line == int(line_num_only)]
    stop_by_line = stop_by_line.rename(columns={'stop_id_agg':'stop_id'})
    stop_by_line[['stop_id','stop_name']].sort_values('stop_name').to_json(line_filename, orient='records')

    print('Line ' + line_filename + ' created' + ' (' + str(len(stop_by_line)) + ')')
    count += 1

print(str(count) + ' files created.')

Line ../data/line-stops/2.json created (122)
Line ../data/line-stops/4.json created (128)
Line ../data/line-stops/10.json created (121)
Line ../data/line-stops/14.json created (78)
Line ../data/line-stops/16.json created (62)
Line ../data/line-stops/18.json created (96)
Line ../data/line-stops/20.json created (99)
Line ../data/line-stops/28.json created (68)
Line ../data/line-stops/30.json created (60)
Line ../data/line-stops/33.json created (113)
Line ../data/line-stops/35.json created (81)
Line ../data/line-stops/37.json created (75)
Line ../data/line-stops/38.json created (77)
Line ../data/line-stops/40.json created (121)
Line ../data/line-stops/45.json created (72)
Line ../data/line-stops/48.json created (108)
Line ../data/line-stops/51.json created (101)
Line ../data/line-stops/53.json created (96)
Line ../data/line-stops/55.json created (80)
Line ../data/line-stops/60.json created (117)
Line ../data/line-stops/62.json created (102)
Line ../data/line-stops/66.json created (85)
Line ../data/line-stops/70.json created (98)
Line ../data/line-stops/76.json created (91)
Line ../data/line-stops/78.json created (105)
Line ../data/line-stops/79.json created (102)
Line ../data/line-stops/81.json created (117)
Line ../data/line-stops/90.json created (136)
Line ../data/line-stops/92.json created (153)
Line ../data/line-stops/94.json created (91)
Line ../data/line-stops/96.json created (52)
Line ../data/line-stops/102.json created (120)
Line ../data/line-stops/105.json created (80)
Line ../data/line-stops/106.json created (88)
Line ../data/line-stops/108.json created (131)
Line ../data/line-stops/110.json created (110)
Line ../data/line-stops/111.json created (102)
Line ../data/line-stops/115.json created (122)
Line ../data/line-stops/117.json created (91)
Line ../data/line-stops/120.json created (127)
Line ../data/line-stops/125.json created (94)
Line ../data/line-stops/127.json created (91)
Line ../data/line-stops/128.json created (58)
Line ../data/line-stops/130.json created (32)
Line ../data/line-stops/150.json created (61)
Line ../data/line-stops/152.json created (90)
Line ../data/line-stops/154.json created (59)
Line ../data/line-stops/155.json created (104)
Line ../data/line-stops/158.json created (85)
Line ../data/line-stops/161.json created (82)
Line ../data/line-stops/162.json created (87)
Line ../data/line-stops/164.json created (98)
Line ../data/line-stops/165.json created (101)
Line ../data/line-stops/166.json created (58)
Line ../data/line-stops/167.json created (112)
Line ../data/line-stops/169.json created (154)
Line ../data/line-stops/177.json created (17)
Line ../data/line-stops/180.json created (91)
Line ../data/line-stops/182.json created (91)
Line ../data/line-stops/200.json created (44)
Line ../data/line-stops/202.json created (49)
Line ../data/line-stops/204.json created (73)
Line ../data/line-stops/205.json created (143)
Line ../data/line-stops/206.json created (81)
Line ../data/line-stops/207.json created (69)
Line ../data/line-stops/209.json created (48)
Line ../data/line-stops/210.json created (102)
Line ../data/line-stops/211.json created (58)
Line ../data/line-stops/212.json created (86)
Line ../data/line-stops/215.json created (62)
Line ../data/line-stops/217.json created (60)
Line ../data/line-stops/218.json created (30)
Line ../data/line-stops/222.json created (50)
Line ../data/line-stops/224.json created (54)
Line ../data/line-stops/230.json created (74)
Line ../data/line-stops/232.json created (110)
Line ../data/line-stops/233.json created (88)
Line ../data/line-stops/234.json created (78)
Line ../data/line-stops/235.json created (68)
Line ../data/line-stops/236.json created (63)
Line ../data/line-stops/237.json created (115)
Line ../data/line-stops/240.json created (83)
Line ../data/line-stops/242.json created (67)
Line ../data/line-stops/243.json created (68)
Line ../data/line-stops/244.json created (31)
Line ../data/line-stops/246.json created (77)
Line ../data/line-stops/251.json created (122)
Line ../data/line-stops/256.json created (138)
Line ../data/line-stops/258.json created (97)
Line ../data/line-stops/260.json created (126)
Line ../data/line-stops/265.json created (70)
Line ../data/line-stops/266.json created (91)
Line ../data/line-stops/267.json created (55)
Line ../data/line-stops/268.json created (44)
Line ../data/line-stops/287.json created (76)
Line ../data/line-stops/294.json created (55)
Line ../data/line-stops/344.json created (54)
Line ../data/line-stops/460.json created (97)
Line ../data/line-stops/487.json created (64)
Line ../data/line-stops/489.json created (46)
Line ../data/line-stops/501.json created (22)
Line ../data/line-stops/534.json created (48)
Line ../data/line-stops/550.json created (57)
Line ../data/line-stops/577.json created (7)
Line ../data/line-stops/601.json created (18)
Line ../data/line-stops/602.json created (68)
Line ../data/line-stops/603.json created (76)
Line ../data/line-stops/605.json created (33)
Line ../data/line-stops/611.json created (89)
Line ../data/line-stops/617.json created (46)
Line ../data/line-stops/622.json created (22)
Line ../data/line-stops/656.json created (79)
Line ../data/line-stops/662.json created (75)
Line ../data/line-stops/665.json created (25)
Line ../data/line-stops/686.json created (39)
Line ../data/line-stops/690.json created (58)
Line ../data/line-stops/704.json created (42)
Line ../data/line-stops/720.json created (39)
Line ../data/line-stops/733.json created (48)
Line ../data/line-stops/754.json created (23)
Line ../data/line-stops/761.json created (44)
Line ../data/line-stops/854.json created (7)
Line ../data/line-stops/901.json created (17)
Line ../data/line-stops/910.json created (33)
Line ../data/line-stops/950.json created (48)
125 files created.