# Overview

This Jupyter Notebook takes in data from a Google Sheet that contains stop change details and their associated high level categories and outputs a JSON file for each line to be used in the MyBus tool.

The output file is used by the MyBus tool's results page and contains the Stop-level changes that are displayed there.

Run all cells to output files in the format `#-changes.json`

As of 5/28/21, this should output data for 141 lines.

In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

DATA_INPUT_PATH = '../data/input/'
DATA_OUTPUT_PATH = '../data/stop-changes/'
SCRATCH_PATH = 'scratch/'
LINES_PATH = '../data/lines.json'
GOOGLE_SHEET_LINK = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRg9oVntzWoLImtA3AFGTQYZoTa7JPMYG1TqjV__zIxpvaBhHG_ZWPyg_jaKt7TSVke2ZH3nEmGdzi3/pub?gid=1103678554&single=true&output=csv"

## Load GTFS Data

Use `lines.json`, which was generated from the `line-dropdown` notebook.

Extract `stops.zip` to the scratch folder.

In [2]:
lines = pd.read_json(LINES_PATH)
lines_array = lines.loc[:, 'route_number'].values
lines.head()

   route_id route_short_name  route_number
0         2                2             2
1         4                4             4
2        10               10            10
3        14               14            14
4        16               16            16

### Extract Zipped Stops

Since the stops.txt file is huge, we must zip it up and put it into the stops.zip so that we avoid checking in a big file into GitHub.

In [3]:
with ZipFile('../data/input/stops.zip', 'r') as zf:
    zf.extractall(SCRATCH_PATH)

STOPS_PATH = SCRATCH_PATH + 'stops.txt'

In [4]:
stops = pd.read_csv(STOPS_PATH,
    usecols=['stop_id','stop_name'],
    dtype={'stop_id':'int','stop_name':'string'})

stops.head()

   stop_id                            stop_name
0        1                  Paramount / Slauson
1        3                     Jefferson / 10th
2        6           120th / Augustus F Hawkins
3        7  120th / Martin Luther King Hospital
4       12                    15054 Sherman Way

## Load Stop Changes Data

Data was compiled from spreadsheets and slides provided by Service Planners. Pull the data directly from the Google Sheet.

In [5]:
# stop_changes = pd.read_csv(DATA_INPUT_PATH + 'stop_changes - ALL.csv',
#     usecols={'line', 'stop_id', 'service_canceled', 'service_changed', 'service_replaced', 'stop_canceled', 'stop_relocated', 'route_changed', 'owl_service_canceled'})
stop_changes = pd.read_csv(GOOGLE_SHEET_LINK, usecols={"line","direction","CHANGE","stop_id","ST_DIR","ON_STREET","AT_BET","AT_STREET","BETWEEN_ST","NEAR_FAR","stop_added","service_canceled","service_changed","service_replaced","stop_canceled","stop_relocated","route_changed","owl_service_added"})

stop_changes.head()

,line,direction,CHANGE,stop_id,ST_DIR,ON_STREET,AT_BET,AT_STREET,BETWEEN_ST,NEAR_FAR,stop_added,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_added
0,2,eastbound,DELETE,8030,E,SUNSET,A,BONNIE BRAE,NaN,N,False,False,True,False,False,False,False,False
1,2,eastbound,DELETE,8011,E,SUNSET,A,ECHO PARK,NaN,N,False,False,True,False,False,False,False,False
2,2,eastbound,DELETE,6393,E,SUNSET,A,PORTIA,NaN,N,False,False,True,False,False,False,False,False
3,2,eastbound,DELETE,8009,E,SUNSET,A,DOUGLAS,NaN,N,False,False,True,False,False,False,False,False
4,2,eastbound,DELETE,2421,E,SUNSET,A,VIN SCULLY,NaN,N,False,False,True,False,False,False,False,False

In [6]:
# merge with stops.txt to get stop names
#stop_changes.stop_id = stop_changes.stop_id.astype('int')
stop_changes_with_names = pd.merge(stop_changes, stops, how='inner', on='stop_id')
stop_changes_with_names = stop_changes_with_names[["line","direction","CHANGE","stop_id","ST_DIR","ON_STREET","AT_BET","AT_STREET","BETWEEN_ST","NEAR_FAR","stop_added","service_canceled","service_changed","service_replaced","stop_canceled","stop_relocated","route_changed","owl_service_added"]]
stop_changes_with_names.to_csv(SCRATCH_PATH + 'stop_changes_with_names.csv')

stop_changes_with_names.head()

,line,direction,CHANGE,stop_id,ST_DIR,ON_STREET,AT_BET,AT_STREET,BETWEEN_ST,NEAR_FAR,stop_added,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_added
0,2,eastbound,DELETE,8030,E,SUNSET,A,BONNIE BRAE,NaN,N,False,False,True,False,False,False,False,False
1,2,eastbound,DELETE,8011,E,SUNSET,A,ECHO PARK,NaN,N,False,False,True,False,False,False,False,False
2,2,eastbound,DELETE,6393,E,SUNSET,A,PORTIA,NaN,N,False,False,True,False,False,False,False,False
3,2,eastbound,DELETE,8009,E,SUNSET,A,DOUGLAS,NaN,N,False,False,True,False,False,False,False,False
4,2,eastbound,DELETE,2421,E,SUNSET,A,VIN SCULLY,NaN,N,False,False,True,False,False,False,False,False

## Analyze Data

### Stops in `stop_changes` not in GTFS

Outputs results to file `stops-not-in-gtfs.json` in the `scratch` folder.

In [7]:
stops_not_in_gtfs = stop_changes[~stop_changes.stop_id.isin(stops.stop_id)]
stops_not_in_gtfs = stops_not_in_gtfs[['line', 'stop_id']]
stops_not_in_gtfs = stops_not_in_gtfs.sort_values(['line', 'stop_id'])

stops_not_in_gtfs.to_json(SCRATCH_PATH + 'stops-not-in-gtfs.json', orient='records')

stops_not_in_gtfs.head(20)

     line  stop_id
46      2    16318
118     4      680
139    51   140944
140    51   140944
159    53     5417
177    53     5423
347   110     5412
348   110     5414
349   110     5416
366   150     5507
374   154     5291
372   154     5294
375   154     5295
373   154     5369
371   154     5373
376   154     5374
404   169     5505
406   169     5505
405   169     5507
409   177     3464

### Duplicate `line` & `stop_id` combos

Outputs results to file `stops-changes-duplicates.json` in the `scratch` folder.

In [8]:
# Find duplicate line + stop_id combos

# exclude non-existent stop_ids
stop_changes_existing_stopids = stop_changes.loc[stop_changes['stop_id'] != 0]
stop_changes_existing_stopids = stop_changes_existing_stopids.groupby(['line', 'stop_id', 'direction']).size().reset_index(name="count")
stop_changes_existing_stopids = stop_changes_existing_stopids.loc[stop_changes_existing_stopids['count'] > 1]

# Output file with the stops that have duplicate rows.
filtered_combos = pd.merge(stop_changes_existing_stopids, stop_changes, how='inner', on=['line', 'stop_id', 'direction']).sort_values(by=['line', 'stop_id', 'direction'])
filtered_combos.to_csv(SCRATCH_PATH + 'stop-changes-duplicates.csv')

filtered_combos.head(20)

,line,stop_id,direction,count,CHANGE,ST_DIR,ON_STREET,AT_BET,AT_STREET,BETWEEN_ST,NEAR_FAR,stop_added,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_added
0,2,2738,eastbound,2,LINE 200 CHANGES TO LINE 2,E,KING BL,A,FIGUEROA,NaN,F,True,False,False,False,False,False,False,False
1,2,2738,eastbound,2,LINE 200 CHANGES TO LINE 2,E,KING BL,A,FIGUEROA,NaN,F,True,False,False,False,False,False,False,False
2,53,4528,northbound,2,ADD,W,119TH ST,A,WILLOWBROOK,NaN,F,True,False,False,False,False,False,False,False
3,53,4528,northbound,2,ADD,W,119TH ST,A,WILLOWBROOK,NaN,F,True,False,False,False,False,False,False,False
4,53,30007,northbound,2,ADD,S,WILLOWBROOK/ROSA PARKS STATION,A,WEST BAYS DOCK 14,NaN,N,True,False,False,False,False,False,False,False
5,53,30007,northbound,2,ADD,S,WILLOWBROOK/ROSA PARKS STATION,A,WEST BAYS DOCK 9,NaN,NaN,True,False,False,False,False,False,False,False
6,53,30007,southbound,2,ADD,S,WILLOWBROOK/ROSA PARKS STATION,A,WEST BAYS DOCK 14,NaN,N,True,False,False,False,False,False,False,False
7,53,30007,southbound,2,ADD,S,WILLOWBROOK/ROSA PARKS STATION,A,WEST BAYS DOCK 9,NaN,NaN,True,False,False,False,False,False,False,False
8,53,140758,southbound,2,ADD,N,WILMINGTON,A,118TH ST,NaN,N,True,False,False,False,False,False,False,False
9,53,140758,southbound,2,ADD,N,WILMINGTON,A,118TH ST,NaN,N,True,False,False,False,False,False,False,False
10,79,2561,eastbound,2,DELETE,E,HUNTINGTON,A,METHODIST HOSP,NaN,N,False,False,True,False,False,False,False,False
11,79,2561,eastbound,2,DELETE,E,HUNTINGTON,A,METHODIST HOSP,NaN,N,False,False,True,False,False,False,False,False
12,200,2738,southbound,2,DELETE,E,KING BL,A,FIGUEROA,NaN,F,False,False,False,True,False,False,False,False
13,200,2738,southbound,2,DELETE,E,KING BL,A,FIGUEROA,NaN,F,False,False,False,True,False,False,False,False
14,660,501,CLOCKWISE,2,ADD,E,RAYMOND,A,DEL MAR,NaN,N,True,False,False,False,False,False,False,False
15,660,501,CLOCKWISE,2,ADD,E,RAYMOND,A,DEL MAR,NaN,N,True,False,False,False,False,False,False,False

## Add Stops for Restored Service

Lines 110 and 550 have restored service.  The stops do not exist in the June 2021 GTFS data.  Reference GitHub [issue #62](https://github.com/LACMTA/mybus/issues/62).

In [9]:
restored_stops = pd.read_csv('../data/input/restored_stops.csv',
	usecols={'line', 'stop_id','direction'},
	dtype={'line':'int','stop_id':'string','direction':'string'})

restored_stops['service_canceled'] = False
restored_stops['service_changed'] = False
restored_stops['service_replaced'] = False
restored_stops['stop_canceled'] = False
restored_stops['stop_relocated'] = False
restored_stops['route_changed'] = False
restored_stops['owl_service_canceled'] = False
restored_stops['replaced_by_micro'] = False
restored_stops['service_restored'] = True

In [10]:
stop_changes

,line,direction,CHANGE,stop_id,ST_DIR,ON_STREET,AT_BET,AT_STREET,BETWEEN_ST,NEAR_FAR,stop_added,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_added
0,2,eastbound,DELETE,8030,E,SUNSET,A,BONNIE BRAE,NaN,N,False,False,True,False,False,False,False,False
1,2,eastbound,DELETE,8011,E,SUNSET,A,ECHO PARK,NaN,N,False,False,True,False,False,False,False,False
2,2,eastbound,DELETE,6393,E,SUNSET,A,PORTIA,NaN,N,False,False,True,False,False,False,False,False
3,2,eastbound,DELETE,8009,E,SUNSET,A,DOUGLAS,NaN,N,False,False,True,False,False,False,False,False
4,2,eastbound,DELETE,2421,E,SUNSET,A,VIN SCULLY,NaN,N,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,761,southbound,DELETE,8263,S,WESTWOOD,A,KINROSS,NaN,N,False,False,True,False,True,False,False,False
811,761,southbound,DELETE,16556,S,WESTWOOD,A,WILSHIRE,NaN,N,False,False,True,False,True,False,False,False
812,761,southbound,DELETE,3565,W,WILSHIRE,A,VETERAN,NaN,F,False,False,True,False,True,False,False,False
813,761,southbound,DELETE,16771,W,WILSHIRE,A,VETERAN,NaN,N,False,False,True,False,True,False,False,False
814,761,southbound,DELETE,6042,S,SEPULVEDA,A,SANTA MONICA,NaN,F,False,False,True,False,True,False,False,False

In [11]:
stop_changes = pd.concat([stop_changes,restored_stops])
stop_changes

,line,direction,CHANGE,stop_id,ST_DIR,ON_STREET,AT_BET,AT_STREET,BETWEEN_ST,NEAR_FAR,...,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_added,owl_service_canceled,replaced_by_micro,service_restored
0,2,eastbound,DELETE,8030,E,SUNSET,A,BONNIE BRAE,NaN,N,...,False,True,False,False,False,False,False,NaN,NaN,NaN
1,2,eastbound,DELETE,8011,E,SUNSET,A,ECHO PARK,NaN,N,...,False,True,False,False,False,False,False,NaN,NaN,NaN
2,2,eastbound,DELETE,6393,E,SUNSET,A,PORTIA,NaN,N,...,False,True,False,False,False,False,False,NaN,NaN,NaN
3,2,eastbound,DELETE,8009,E,SUNSET,A,DOUGLAS,NaN,N,...,False,True,False,False,False,False,False,NaN,NaN,NaN
4,2,eastbound,DELETE,2421,E,SUNSET,A,VIN SCULLY,NaN,N,...,False,True,False,False,False,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,550,Southbound,NaN,15616,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,NaN,False,False,True
42,550,Southbound,NaN,10994,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,NaN,False,False,True
43,550,Southbound,NaN,10853,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,NaN,False,False,True
44,550,Southbound,NaN,2324,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,NaN,False,False,True
45,550,Southbound,NaN,10846,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,NaN,False,False,True

## Output Stop Changes Data

Iterate through lines.json and output a file for each line.

In [12]:
# Loop through line numbers and output a file for each line with all data for that line
line_count = 1
stop_count = 0

for line in lines_array:
    subset = stop_changes[stop_changes.line == line]
    filename = DATA_OUTPUT_PATH + str(line) + '-changes.json'
    
    stop_count += len(subset)
    print(subset[['line', 'direction', 'stop_id']])
    subset.to_json(filename, orient='records')
    
    print('********** ' + 'Line ' + filename + ' created (' + str(len(subset)) + ')')
    print('********** ' + str(stop_count)  + ' total stops')
    print('********** ' + str(line_count)  + ' total lines')
    line_count += 1

     line  direction stop_id
0       2  eastbound    8030
1       2  eastbound    8011
2       2  eastbound    6393
3       2  eastbound    8009
4       2  eastbound    2421
..    ...        ...     ...
113     2  westbound    4654
114     2  westbound    3357
115     2  westbound    3361
116     2  westbound    3358
117     2  westbound    3359

[118 rows x 3 columns]
********** Line ../data/stop-changes/2-changes.json created (118)
********** 118 total stops
********** 1 total lines
     line  direction stop_id
118     4  eastbound     680
119     4  eastbound   12411
120     4  westbound   11900
121     4  westbound    9221
122     4  eastbound    3587
123     4  westbound     136
124     4  westbound    8097
********** Line ../data/stop-changes/4-changes.json created (7)
********** 125 total stops
********** 2 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/10-changes.json created (0)
********** 125 total stops
********** 3 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/14-changes.json created (0)
********** 125 total stops
********** 4 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/16-changes.json created (0)
********** 125 total stops
********** 5 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/18-changes.json created (0)
********** 125 total stops
********** 6 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/20-changes.json created (0)
********** 125 total stops
********** 7 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/28-changes.json created (0)
********** 125 total stops
********** 8 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/30-changes.json created (0)
********** 125 total stops
********** 9 total lines
     line  direction stop_id
125    33  eastbound    6974
126    33  eastbound  140717
127    33  eastbound    6924
128    33  eastbound    6934
129    33  eastbound    6929
130    33  eastbound    6945
131    33  eastbound    6972
132    33  westbound   15322
133    33  westbound   15274
134    33  westbound   15288
135    33  westbound   15264
136    33  westbound   15277
137    33  westbound   15323
********** Line ../data/stop-changes/33-changes.json created (13)
********** 138 total stops
********** 10 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/35-changes.json created (0)
********** 138 total stops
********** 11 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/37-changes.json created (0)
********** 138 total stops
********** 12 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/38-changes.json created (0)
********** 138 total stops
********** 13 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/40-changes.json created (0)
********** 138 total stops
********** 14 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/45-changes.json created (0)
********** 138 total stops
********** 15 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/48-changes.json created (0)
********** 138 total stops
********** 16 total lines
     line   direction stop_id
138    51  northbound    1854
139    51  northbound  140944
140    51  southbound  140944
141    51  northbound   15737
142    51  northbound    7403
143    51  northbound   15745
144    51  northbound    8644
145    51  northbound    7375
146    51  northbound   15765
147    51  northbound   15763
148    51  northbound    5702
149    51  northbound    8473
150    51  southbound    8473
151    51  southbound   14089
152    51  southbound    7409
153    51  southbound    7411
154    51  southbound   19129
155    51  southbound      46
156    51  southbound    7386
157    51  southbound   15758
158    51  southbound    7377
********** Line ../data/stop-changes/51-changes.json created (21)
********** 159 total stops
********** 17 total lines
     line   direction stop_id
159    53  northbound    5417
160    53  northbound   30007
161    53  northbound    4528
162    53  northbound   14171
163    53  northbound       6
164    53  northbound    9674
165    53  northbound     798
166    53  northbound     820
167    53  northbound   30007
168    53  southbound    3703
169    53  southbound    1505
170    53  southbound    9345
171    53  southbound    9669
172    53  southbound    8597
173    53  southbound  140758
174    53  southbound   30007
175    53  northbound    4528
176    53  southbound  140758
177    53  southbound    5423
178    53  southbound   30007
179    53  northbound    1136
180    53  northbound    1142
181    53  northbound    9667
182    53  northbound    8818
183    53  northbound     283
184    53  northbound   10052
185    53  southbound    1738
186    53  southbound   10051
187    53  southbound    8871
188    53  southbound     292
189    53  southbound    1134
190    53  southbound    9675
191    53  southbound    9671
192    53  southbound    1136
193    53  southbound    1142
194    53  southbound    9667
195    53  southbound    8818
********** Line ../data/stop-changes/53-changes.json created (37)
********** 196 total stops
********** 18 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/55-changes.json created (0)
********** 196 total stops
********** 19 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/60-changes.json created (0)
********** 196 total stops
********** 20 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/62-changes.json created (0)
********** 196 total stops
********** 21 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/66-changes.json created (0)
********** 196 total stops
********** 22 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/70-changes.json created (0)
********** 196 total stops
********** 23 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/76-changes.json created (0)
********** 196 total stops
********** 24 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/78-changes.json created (0)
********** 196 total stops
********** 25 total lines
     line  direction stop_id
196    79  eastbound    6952
197    79  eastbound    5372
198    79  eastbound    5388
199    79  eastbound    5370
200    79  eastbound      99
..    ...        ...     ...
338    79  westbound   13553
339    79  westbound   13549
340    79  westbound    7256
341    79  westbound    6535
342    79  westbound   16040

[147 rows x 3 columns]
********** Line ../data/stop-changes/79-changes.json created (147)
********** 343 total stops
********** 26 total lines
     line   direction stop_id
343    81  northbound    5013
344    81  northbound    3527
345    81  southbound   12011
346    81  southbound   13450
********** Line ../data/stop-changes/81-changes.json created (4)
********** 347 total stops
********** 27 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/90-changes.json created (0)
********** 347 total stops
********** 28 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/92-changes.json created (0)
********** 347 total stops
********** 29 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/94-changes.json created (0)
********** 347 total stops
********** 30 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/96-changes.json created (0)
********** 347 total stops
********** 31 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/102-changes.json created (0)
********** 347 total stops
********** 32 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/105-changes.json created (0)
********** 347 total stops
********** 33 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/106-changes.json created (0)
********** 347 total stops
********** 34 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/108-changes.json created (0)
********** 347 total stops
********** 35 total lines
     line  direction   stop_id
347   110  eastbound      5412
348   110  eastbound      5414
349   110  westbound      5416
350   110  eastbound      1447
351   110  eastbound      2101
352   110  eastbound      1446
353   110  eastbound      2068
354   110  eastbound      2069
355   110  eastbound     14511
356   110  eastbound     14510
357   110  eastbound      1999
358   110  westbound     10549
359   110  westbound      6130
360   110  westbound      6131
361   110  westbound     10620
362   110  westbound     10619
363   110  westbound      9977
364   110  westbound     10642
365   110  westbound      9978
0     110  Eastbound  65300037
1     110  Westbound  65300037
2     110  Eastbound    176153
3     110  Eastbound      2701
4     110  Eastbound     11194
5     110  Westbound      2702
6     110  Eastbound      2703
7     110  Westbound     11197
8     110  Eastbound      2704
9     110  Eastbound    140878
10    110  Westbound     20501
11    110  Eastbound      2705
12    110  Westbound     11195
13    110  Eastbound      2706
14    110  Westbound     16943
15    110  Westbound     14660
16    110  Westbound     12124
17    110  Westbound      8683
********** Line ../data/stop-changes/110-changes.json created (37)
********** 384 total stops
********** 36 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/111-changes.json created (0)
********** 384 total stops
********** 37 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/115-changes.json created (0)
********** 384 total stops
********** 38 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/117-changes.json created (0)
********** 384 total stops
********** 39 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/120-changes.json created (0)
********** 384 total stops
********** 40 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/125-changes.json created (0)
********** 384 total stops
********** 41 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/127-changes.json created (0)
********** 384 total stops
********** 42 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/128-changes.json created (0)
********** 384 total stops
********** 43 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/130-changes.json created (0)
********** 384 total stops
********** 44 total lines
     line  direction stop_id
366   150  westbound    5507
367   150  westbound   15444
********** Line ../data/stop-changes/150-changes.json created (2)
********** 386 total stops
********** 45 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/152-changes.json created (0)
********** 386 total stops
********** 46 total lines
     line  direction stop_id
368   154  eastbound   30001
369   154  eastbound   15548
370   154  eastbound   15544
371   154  eastbound    5373
372   154  eastbound    5294
373   154  eastbound    5369
374   154  westbound    5291
375   154  westbound    5295
376   154  westbound    5374
377   154  westbound    7196
378   154  westbound    7200
379   154  westbound   20002
380   154  eastbound     159
381   154  eastbound   11300
382   154  eastbound   11306
383   154  eastbound   11301
384   154  eastbound    4191
385   154  eastbound    4179
386   154  eastbound    4194
387   154  eastbound    4195
388   154  eastbound    4172
389   154  eastbound    4175
390   154  eastbound    3458
391   154  eastbound    3459
392   154  westbound   11949
393   154  westbound   11948
394   154  westbound   12655
395   154  westbound   12652
396   154  westbound   12670
397   154  westbound   12677
398   154  westbound   12659
399   154  westbound   12674
400   154  westbound    2812
401   154  westbound    2818
402   154  westbound    2811
403   154  westbound     159
********** Line ../data/stop-changes/154-changes.json created (36)
********** 422 total stops
********** 47 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/155-changes.json created (0)
********** 422 total stops
********** 48 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/158-changes.json created (0)
********** 422 total stops
********** 49 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/161-changes.json created (0)
********** 422 total stops
********** 50 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/162-changes.json created (0)
********** 422 total stops
********** 51 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/164-changes.json created (0)
********** 422 total stops
********** 52 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/165-changes.json created (0)
********** 422 total stops
********** 53 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/166-changes.json created (0)
********** 422 total stops
********** 54 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/167-changes.json created (0)
********** 422 total stops
********** 55 total lines
     line  direction stop_id
404   169  eastbound    5505
405   169  westbound    5507
406   169  westbound    5505
407   169  eastbound   15457
408   169  westbound   15457
********** Line ../data/stop-changes/169-changes.json created (5)
********** 427 total stops
********** 56 total lines
     line   direction stop_id
409   177  northbound    3464
410   177  northbound    3466
411   177  northbound    3470
412   177  northbound    5161
413   177  northbound    5168
414   177  southbound    5173
415   177  southbound   11972
416   177  southbound   11962
417   177  southbound   11958
418   177  southbound   10395
419   177  northbound    1705
420   177  northbound    9824
421   177  southbound   10260
422   177  southbound   10261
********** Line ../data/stop-changes/177-changes.json created (14)
********** 441 total stops
********** 57 total lines
     line  direction stop_id
507   180  eastbound    2474
508   180  eastbound    7088
509   180  eastbound    3050
510   180  eastbound     762
511   180  eastbound     763
512   180  eastbound    1343
513   180  westbound    9875
514   180  westbound    9317
515   180  westbound    9319
516   180  westbound   15433
517   180  westbound   11007
********** Line ../data/stop-changes/180-changes.json created (11)
********** 452 total stops
********** 58 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/182-changes.json created (0)
********** 452 total stops
********** 59 total lines
     line   direction stop_id
518   200  northbound    2459
519   200  northbound   11234
520   200  northbound    4997
521   200  northbound    4981
522   200  northbound    4980
..    ...         ...     ...
594   200  southbound   13437
595   200  southbound    2738
596   200  southbound    2459
597   200  southbound    7760
598   200  southbound    2738

[81 rows x 3 columns]
********** Line ../data/stop-changes/200-changes.json created (81)
********** 533 total stops
********** 60 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/202-changes.json created (0)
********** 533 total stops
********** 61 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/204-changes.json created (0)
********** 533 total stops
********** 62 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/205-changes.json created (0)
********** 533 total stops
********** 63 total lines
     line   direction stop_id
599   206  northbound    2474
600   206  southbound   11007
********** Line ../data/stop-changes/206-changes.json created (2)
********** 535 total stops
********** 64 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/207-changes.json created (0)
********** 535 total stops
********** 65 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/209-changes.json created (0)
********** 535 total stops
********** 66 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/210-changes.json created (0)
********** 535 total stops
********** 67 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/211-changes.json created (0)
********** 535 total stops
********** 68 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/212-changes.json created (0)
********** 535 total stops
********** 69 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/215-changes.json created (0)
********** 535 total stops
********** 70 total lines
     line   direction stop_id
602   217  northbound    4968
603   217  northbound    4967
604   217  northbound    2474
605   217  southbound   11007
606   217  southbound   13410
607   217  southbound   13411
********** Line ../data/stop-changes/217-changes.json created (6)
********** 541 total stops
********** 71 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/218-changes.json created (0)
********** 541 total stops
********** 72 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/222-changes.json created (0)
********** 541 total stops
********** 73 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/224-changes.json created (0)
********** 541 total stops
********** 74 total lines
     line   direction stop_id
608   230  northbound    2525
609   230  northbound    2524
610   230  northbound   11066
611   230  northbound   11065
612   230  northbound    2542
613   230  northbound    2543
614   230  northbound    2550
615   230  northbound    3425
616   230  northbound    3439