# Overview

This Jupyter Notebook takes in data from a Google Sheet that contains stop change details and their associated high level categories and outputs a JSON file for each line to be used in the MyBus tool.

The output file is used by the MyBus tool's results page and contains the Stop-level changes that are displayed there.

Run all cells to output files in the format `#-changes.json`

As of 5/28/21, this should output data for 141 lines.

In [10]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

DATA_INPUT_PATH = '../data/input/'
DATA_OUTPUT_PATH = '../data/stop-changes/'
SCRATCH_PATH = 'scratch/'
LINES_PATH = '../data/lines.json'
GOOGLE_SHEET_LINK = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQC-r5V2B0xw886UtXO5TU1YXPy_HzyBoQXQOjDWD_qwmBBlvn3fyVsa-BHu0FymPM8gk4O_UxMtJsK/pub?output=csv"

## Load GTFS Data

Use `lines.json`, which was generated from the `line-dropdown` notebook.

Extract `stops.zip` to the scratch folder.

In [11]:
lines = pd.read_json(LINES_PATH)
lines_array = lines.loc[:, 'route_number'].values
lines.head()

   route_id route_short_name  route_number
0         2                2             2
1         4                4             4
2        10               10            10
3        14               14            14
4        16               16            16

In [12]:
with ZipFile('../data/input/stops.zip', 'r') as zf:
    zf.extractall(SCRATCH_PATH)

STOPS_PATH = SCRATCH_PATH + 'stops.txt'

In [13]:
stops = pd.read_csv(STOPS_PATH,
    usecols=['stop_id','stop_name'],
    dtype={'stop_id':'int','stop_name':'string'})

stops.head()

   stop_id                            stop_name
0        1                  Paramount / Slauson
1        3                     Jefferson / 10th
2        6           120th / Augustus F Hawkins
3        7  120th / Martin Luther King Hospital
4       12                    15054 Sherman Way

## Load Stop Changes Data

Data was compiled from spreadsheets and slides provided by Service Planners. Pull the data directly from the Google Sheet.

In [14]:
# stop_changes = pd.read_csv(DATA_INPUT_PATH + 'stop_changes - ALL.csv',
#     usecols={'line', 'stop_id', 'service_canceled', 'service_changed', 'service_replaced', 'stop_canceled', 'stop_relocated', 'route_changed', 'owl_service_canceled'})
stop_changes = pd.read_csv(GOOGLE_SHEET_LINK, usecols={'line', 'direction', 'stop_id', 'service_canceled', 'service_changed', 'service_replaced', 'stop_canceled', 'stop_relocated', 'route_changed', 'owl_service_canceled'})

stop_changes.head()

,line,direction,stop_id,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_canceled
0,2,Westbound,14805,False,False,False,True,False,False,False
1,2,Eastbound,6424,False,False,False,True,False,False,False
2,4,Eastbound,5972,False,False,False,True,False,False,False
3,4,Eastbound,1070,False,False,False,True,False,False,False
4,4,Eastbound,5978,False,False,False,True,False,False,False

In [18]:
# merge with stops.txt to get stop names
#stop_changes.stop_id = stop_changes.stop_id.astype('int')
stop_changes_with_names = pd.merge(stop_changes, stops, how='inner', on='stop_id')
stop_changes_with_names = stop_changes_with_names[['line', 'stop_id', 'stop_name', 'direction', 'service_canceled', 'service_changed', 'service_replaced', 'stop_canceled', 'stop_relocated', 'route_changed', 'owl_service_canceled']]
stop_changes_with_names.to_csv(SCRATCH_PATH + 'stop_changes_with_names.csv')

stop_changes_with_names.head()

,line,stop_id,stop_name,direction,service_canceled,service_changed,service_replaced,stop_canceled,stop_relocated,route_changed,owl_service_canceled
0,2,14805,Sunset / Mapleton,Westbound,False,False,False,True,False,False,False
1,2,6424,Sunset / Mapleton,Eastbound,False,False,False,True,False,False,False
2,4,5972,Santa Monica / 11th,Eastbound,False,False,False,True,False,False,False
3,4,1070,Santa Monica / 17th,Eastbound,False,False,False,True,False,False,False
4,4,5978,Santa Monica / 23rd,Eastbound,False,False,False,True,False,False,False

## Analyze Data

### Stops in `stop_changes` not in GTFS

Outputs results to file `stops-not-in-gtfs.json` in the `scratch` folder.

In [7]:
stops_not_in_gtfs = stop_changes[~stop_changes.stop_id.isin(stops.stop_id)]
stops_not_in_gtfs = stops_not_in_gtfs[['line', 'stop_id']]
stops_not_in_gtfs = stops_not_in_gtfs.sort_values(['line', 'stop_id'])

stops_not_in_gtfs.to_json(SCRATCH_PATH + 'stops-not-in-gtfs.json', orient='records')

stops_not_in_gtfs.head(20)

     line  stop_id
14      4    14381
15      4    14409
32     18     1269
54    152     4580
81    169    12107
88    656     3600
252   690     9031
251   690    10572

### Duplicate `line` & `stop_id` combos

Outputs results to file `stops-changes-duplicates.json` in the `scratch` folder.

In [8]:
# Find duplicate line + stop_id combos

# exclude non-existent stop_ids
stop_changes_existing_stopids = stop_changes.loc[stop_changes['stop_id'] != 0]
stop_changes_existing_stopids = stop_changes_existing_stopids.groupby(['line', 'stop_id', 'direction']).size().reset_index(name="count")
stop_changes_existing_stopids = stop_changes_existing_stopids.loc[stop_changes_existing_stopids['count'] > 1]

# Output file with the stops that have duplicate rows.
filtered_combos = pd.merge(stop_changes_existing_stopids, stop_changes, how='inner', on=['line', 'stop_id', 'direction']).sort_values(by=['line', 'stop_id', 'direction'])
filtered_combos.to_csv(SCRATCH_PATH + 'stop-changes-duplicates.csv')

filtered_combos.head(20)

Empty DataFrame
Columns: [count, line, direction, stop_id, service_canceled, service_changed, service_replaced, stop_canceled, stop_relocated, route_changed, owl_service_canceled]
Index: []

## Output Stop Changes Data

Iterate through lines.json and output a file for each line.

In [9]:
# Loop through line numbers and output a file for each line with all data for that line
line_count = 1
stop_count = 0

for line in lines_array:
    subset = stop_changes[stop_changes.line == line]
    filename = DATA_OUTPUT_PATH + str(line) + '-changes.json'
    
    stop_count += len(subset)
    print(subset[['line', 'direction', 'stop_id']])
    subset.to_json(filename, orient='records')
    
    print('********** ' + 'Line ' + filename + ' created (' + str(len(subset)) + ')')
    print('********** ' + str(stop_count)  + ' total stops')
    print('********** ' + str(line_count)  + ' total lines')
    line_count += 1

   line  direction  stop_id
0     2  Westbound    14805
1     2  Eastbound     6424
********** Line ../data/stop-changes/2-changes.json created (2)
********** 2 total stops
********** 1 total lines
    line  direction  stop_id
2      4  Eastbound     5972
3      4  Eastbound     1070
4      4  Eastbound     5978
5      4  Eastbound     5971
6      4  Eastbound     6064
7      4  Eastbound     5983
8      4  Eastbound     5987
9      4  Eastbound     6054
10     4  Eastbound     5984
11     4  Eastbound     6043
12     4  Eastbound     5994
13     4  Eastbound     6046
14     4  Westbound    14381
15     4  Westbound    14409
16     4  Westbound    14427
17     4  Westbound    14374
18     4  Westbound    14425
19     4  Westbound    14365
20     4  Westbound    14434
21     4  Westbound    14366
22     4  Westbound    14364
23     4  Westbound    14444
24     4  Westbound    14351
25     4  Westbound    14358
26     4  Westbound     1091
27     4  Westbound    14352
********** Line ../data/stop-changes/4-changes.json created (26)
********** 28 total stops
********** 2 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/10-changes.json created (0)
********** 28 total stops
********** 3 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/14-changes.json created (0)
********** 28 total stops
********** 4 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/16-changes.json created (0)
********** 28 total stops
********** 5 total lines
    line  direction  stop_id
28    18  Eastbound     8330
29    18  Eastbound    32148
30    18  Eastbound     8316
31    18  Eastbound     8312
32    18  Westbound     1269
33    18  Westbound    16613
34    18  Westbound    16617
35    18  Westbound    32156
36    18  Westbound    32157
37    18  Westbound    16632
********** Line ../data/stop-changes/18-changes.json created (10)
********** 38 total stops
********** 6 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/20-changes.json created (0)
********** 38 total stops
********** 7 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/28-changes.json created (0)
********** 38 total stops
********** 8 total lines
    line  direction  stop_id
38    30  Eastbound     1172
39    30  Eastbound     1177
40    30  Westbound     9711
********** Line ../data/stop-changes/30-changes.json created (3)
********** 41 total stops
********** 9 total lines
    line  direction  stop_id
41    33  Eastbound     6947
42    33  Westbound    15304
********** Line ../data/stop-changes/33-changes.json created (2)
********** 43 total stops
********** 10 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/35-changes.json created (0)
********** 43 total stops
********** 11 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/37-changes.json created (0)
********** 43 total stops
********** 12 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/38-changes.json created (0)
********** 43 total stops
********** 13 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/40-changes.json created (0)
********** 43 total stops
********** 14 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/45-changes.json created (0)
********** 43 total stops
********** 15 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/48-changes.json created (0)
********** 43 total stops
********** 16 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/51-changes.json created (0)
********** 43 total stops
********** 17 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/53-changes.json created (0)
********** 43 total stops
********** 18 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/55-changes.json created (0)
********** 43 total stops
********** 19 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/60-changes.json created (0)
********** 43 total stops
********** 20 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/62-changes.json created (0)
********** 43 total stops
********** 21 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/66-changes.json created (0)
********** 43 total stops
********** 22 total lines
    line  direction  stop_id
43    70  Eastbound     3935
********** Line ../data/stop-changes/70-changes.json created (1)
********** 44 total stops
********** 23 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/76-changes.json created (0)
********** 44 total stops
********** 24 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/78-changes.json created (0)
********** 44 total stops
********** 25 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/79-changes.json created (0)
********** 44 total stops
********** 26 total lines
    line   direction  stop_id
44    81  Southbound    12017
********** Line ../data/stop-changes/81-changes.json created (1)
********** 45 total stops
********** 27 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/90-changes.json created (0)
********** 45 total stops
********** 28 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/92-changes.json created (0)
********** 45 total stops
********** 29 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/94-changes.json created (0)
********** 45 total stops
********** 30 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/96-changes.json created (0)
********** 45 total stops
********** 31 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/102-changes.json created (0)
********** 45 total stops
********** 32 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/105-changes.json created (0)
********** 45 total stops
********** 33 total lines
    line   direction  stop_id
45   106  Northbound     3288
46   106  Northbound    17313
47   106  Northbound    17314
48   106  Northbound   125459
49   106  Southbound    17058
50   106  Southbound    14700
51   106  Southbound    12422
52   106  Southbound   125449
********** Line ../data/stop-changes/106-changes.json created (8)
********** 53 total stops
********** 34 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/108-changes.json created (0)
********** 53 total stops
********** 35 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/110-changes.json created (0)
********** 53 total stops
********** 36 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/111-changes.json created (0)
********** 53 total stops
********** 37 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/115-changes.json created (0)
********** 53 total stops
********** 38 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/117-changes.json created (0)
********** 53 total stops
********** 39 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/120-changes.json created (0)
********** 53 total stops
********** 40 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/125-changes.json created (0)
********** 53 total stops
********** 41 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/127-changes.json created (0)
********** 53 total stops
********** 42 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/128-changes.json created (0)
********** 53 total stops
********** 43 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/130-changes.json created (0)
********** 53 total stops
********** 44 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/150-changes.json created (0)
********** 53 total stops
********** 45 total lines
    line  direction  stop_id
53   152  Eastbound     3513
54   152  Eastbound     4580
55   152  Eastbound     2815
56   152  Westbound    11303
57   152  Westbound     6587
58   152  Westbound    14965
59   152  Westbound    14945
60   152  Westbound    14959
61   152  Westbound    14585
62   152  Westbound    14608
63   152  Westbound    14604
64   152  Westbound     1872
65   152  Westbound     1870
66   152  Westbound     1871
67   152  Westbound     1865
68   152  Westbound     1873
69   152  Westbound     1869
70   152  Westbound     4565
71   152  Westbound     4569
72   152  Westbound     4543
73   152  Westbound     3513
********** Line ../data/stop-changes/152-changes.json created (21)
********** 74 total stops
********** 46 total lines
    line  direction  stop_id
74   154  Eastbound     2815
75   154  Eastbound    11303
76   154  Westbound     1326
77   154  Westbound     2815
78   154  Westbound    11303
********** Line ../data/stop-changes/154-changes.json created (5)
********** 79 total stops
********** 47 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/155-changes.json created (0)
********** 79 total stops
********** 48 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/158-changes.json created (0)
********** 79 total stops
********** 49 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/161-changes.json created (0)
********** 79 total stops
********** 50 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/162-changes.json created (0)
********** 79 total stops
********** 51 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/164-changes.json created (0)
********** 79 total stops
********** 52 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/165-changes.json created (0)
********** 79 total stops
********** 53 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/166-changes.json created (0)
********** 79 total stops
********** 54 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/167-changes.json created (0)
********** 79 total stops
********** 55 total lines
    line  direction  stop_id
79   169  Eastbound     3631
80   169  Eastbound    12111
81   169  Westbound    12107
********** Line ../data/stop-changes/169-changes.json created (3)
********** 82 total stops
********** 56 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/177-changes.json created (0)
********** 82 total stops
********** 57 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/180-changes.json created (0)
********** 82 total stops
********** 58 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/182-changes.json created (0)
********** 82 total stops
********** 59 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/200-changes.json created (0)
********** 82 total stops
********** 60 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/202-changes.json created (0)
********** 82 total stops
********** 61 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/204-changes.json created (0)
********** 82 total stops
********** 62 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/205-changes.json created (0)
********** 82 total stops
********** 63 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/206-changes.json created (0)
********** 82 total stops
********** 64 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/207-changes.json created (0)
********** 82 total stops
********** 65 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/209-changes.json created (0)
********** 82 total stops
********** 66 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/210-changes.json created (0)
********** 82 total stops
********** 67 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/211-changes.json created (0)
********** 82 total stops
********** 68 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/212-changes.json created (0)
********** 82 total stops
********** 69 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/215-changes.json created (0)
********** 82 total stops
********** 70 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/217-changes.json created (0)
********** 82 total stops
********** 71 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/218-changes.json created (0)
********** 82 total stops
********** 72 total lines
    line   direction  stop_id
82   222  Northbound   142313
83   222  Northbound    30021
84   222  Southbound    30021
********** Line ../data/stop-changes/222-changes.json created (3)
********** 85 total stops
********** 73 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/224-changes.json created (0)
********** 85 total stops
********** 74 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/230-changes.json created (0)
********** 85 total stops
********** 75 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/232-changes.json created (0)
********** 85 total stops
********** 76 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/233-changes.json created (0)
********** 85 total stops
********** 77 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/234-changes.json created (0)
********** 85 total stops
********** 78 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/235-changes.json created (0)
********** 85 total stops
********** 79 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/236-changes.json created (0)
********** 85 total stops
********** 80 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/237-changes.json created (0)
********** 85 total stops
********** 81 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/240-changes.json created (0)
********** 85 total stops
********** 82 total lines
     line   direction  stop_id
235   242  Northbound    14826
236   242  Northbound    14827
237   242  Northbound    14824
238   242  Northbound    14825
239   242  Northbound    14834
240   242  Northbound    14832
241   242  Northbound    12953
242   242  Southbound    12953
243   242  Southbound    20328
244   242  Southbound    20330
245   242  Southbound     6450
246   242  Southbound     6449
247   242  Southbound     6468
248   242  Southbound     9583
********** Line ../data/stop-changes/242-changes.json created (14)
********** 99 total stops
********** 83 total lines
     line   direction  stop_id
220   243  Northbound    11678
221   243  Northbound     3184
222   243  Northbound     3191
223   243  Northbound    11674
224   243  Northbound    14832
225   243  Northbound    12953
226   243  Southbound    12953
227   243  Southbound    20328
228   243  Southbound    20330
229   243  Southbound    20331
230   243  Southbound    20332
231   243  Southbound    20333
232   243  Southbound    20334
233   243  Southbound     3185
234   243  Southbound    11675
********** Line ../data/stop-changes/243-changes.json created (15)
********** 114 total stops
********** 84 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/244-changes.json created (0)
********** 114 total stops
********** 85 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/246-changes.json created (0)
********** 114 total stops
********** 86 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/251-changes.json created (0)
********** 114 total stops
********** 87 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/256-changes.json created (0)
********** 114 total stops
********** 88 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/258-changes.json created (0)
********** 114 total stops
********** 89 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/260-changes.json created (0)
********** 114 total stops
********** 90 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/265-changes.json created (0)
********** 114 total stops
********** 91 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/266-changes.json created (0)
********** 114 total stops
********** 92 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/267-changes.json created (0)
********** 114 total stops
********** 93 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/268-changes.json created (0)
********** 114 total stops
********** 94 total lines
Empty DataFrame
Columns: [line, direction, stop_id]
Index: []
********** Line ../data/stop-changes/287-changes.json created (0)
********** 114 total stops
********** 95 total lines